/target
common/target
common/Cargo.lock
web-wasm/target
/temp-images
*.json
!master/*.json
*.xlsx
*.pdf
test-photos/

# CCPM (Claude Code PM)
.claude/settings.local.json
.claude/prds/*.md
.claude/epics/*.md
.claude/context/*.md
web-wasm/dist/
web-wasm/node_modules/
web-wasm/package.json
web-wasm/package-lock.json
/node_modules/
!package.json
!package-lock.json
